/* popup.css */

body {
    font-family: Arial, sans-serif;
    /* background-image: url("/pc2.png") ; */
  }
  
  #container {
    width: 250px;
    padding: 20px;
  }
  #kidsContent {
    width: 250px;
    padding: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  
  button {
    padding: 5px 15px;
    background-image: linear-gradient(to right, rgb(19, 173, 101) , rgb(32, 167, 149));
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 90px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  